h1 {
  
  font-weight: 200;
  
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 10;
}

p{
  color: white;
  
}

